<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Dashboard</title>
</head>

<body>

    <nav>
        <ul>
            <li><a th:href="@{/admin/dashboard}">Dashboard</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
            <li>
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </nav>

    <h2>Admin Dashboard</h2>

    <div>
        <ul>
            <li><a th:href="@{/admin/users}">Registered Users</a></li>
        </ul>
    </div>

    <div>
        <ul>
            <li><a th:href="@{/admin/cars}">Car Listings</a></li>
        </ul>
    </div>

    <div>
        <ul>
            <li><a th:href="@{/admin/appointments}">Appointments</a></li>
        </ul>
    </div>

</body>

</html>
