<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Appointments</title>
</head>
<body>
	<h2>Appointments Management</h2>

	<table>
		<tr>
			<th>Car</th>
			<th>Username</th>
			<th>Appointment Date</th>
			<th>Bid</th>
			<th>Actions</th>
		</tr>
		<tr th:each="appointment : ${appointments}">
			<td th:text="${appointment.car.model}"></td>
			<td th:text="${appointment.username}"></td>
			<td th:text="${appointment.appointmentDate}"></td>
			<td th:text="${appointment.bidAmount}"></td>
			<td>
				<form
					th:action="@{/appointments/approve/{id}(id=${appointment.id})}"
					method="post">
					<button type="submit">Approve</button>
				</form>
				<form th:action="@{/appointments/deny/{id}(id=${appointment.id})}"
					method="post">
					<button type="submit">Deny</button>
				</form>
			</td>
		</tr>
	</table>


	<a href="/home">Back to Home</a>
</body>
</html>
